body {
    text-align: center;
    background-color: #2e2e2e;
    color: white;
}

.portrait-img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 35px;
}

